<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/public/scripts/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/styles/index.css"/>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <div class="mdh-expandable-search">
            <i class="material-icons">search</i>
            <form action="#">
                <input type="text" id="searchInput" placeholder="Filter Reports" size="1">
            </form>
        </div>
        <hr>
        <div class="sidepanel-body">
            <p id="queryText">Query: All</p>
            <table class="mdl-data-table mdl-shadow--2dp sortable" id="tableOfReports">
                <thead>
                <tr>
                    <th style="widows: 70%; text-align: left;">Report</th>
                    <th style="width:30%; text-align: center;">Sentiment</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <main class="mdl-layout__content" style="height:100%; width: 100%;">
        <div class="page-content" style="height:100%; width: 100%;">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYSXc8SwOyMoccW6uXMjITK9t5_nb4NOs&callback=initMap"
                    async defer></script>
        </div>
    </main>
</div>
</div>
</body>
</html>