<!doctype html>
<html>
<head>
    <title>Ok City</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="well">
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=
                            AIzaSyDTfEtzR2vFPpmuRIHMSfDL3srV_BtGpJg&callback=initialize">
    </script>
</body>
</html>