/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map, .page-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mdl-layout__drawer {
    width: 500px;
}

.mdh-expandable-search {
    margin: 0 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.mdh-expandable-search form {
    max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
    width: 460px;
}

.mdh-expandable-search,
.mdh-expandable-search form {
    display: inline-flex;
}

/* Search icon */
.mdh-expandable-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #35529A;
    padding: 0 35px 0 70px;
    height: 50px;
    width: inherit;
    line-height: 50px;

    border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search {
    color: #FFFFFF;
    opacity: 1;
}

.sidepanel-body {
    margin-left: 20px;
}

.sidepanel-body table {
    width: 460px;
    table-layout: fixed;
}

.transcriptText {
    overflow-x: hidden;
}

#sentimentIconData {
    text-align: center;
}

.sentimentArrow {
    width: 25px;
    height: 25px;
}

.selectedReportButton {
    margin-bottom: 20px;
}

.enabledFilter {
    background: #35529A;
    color: #FFFFFF;
}

#loadingSpinner {
    margin-left: 20px;
}

.resolvedReportRow {
    background-color: #dddddd;
}