/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map, .page-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
